PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE books (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                title TEXT NOT NULL, author TEXT DEFAULT '',
                isbn TEXT DEFAULT '', publisher TEXT DEFAULT '',
                year INTEGER, language TEXT DEFAULT '',
                description TEXT DEFAULT '',
                file_path TEXT UNIQUE NOT NULL, file_format TEXT NOT NULL,
                file_size INTEGER DEFAULT 0, file_hash TEXT DEFAULT '',
                cover_path TEXT DEFAULT '', page_count INTEGER DEFAULT 0,
                date_added TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                date_modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                rating INTEGER DEFAULT 0, is_favorite INTEGER DEFAULT 0,
                read_status TEXT DEFAULT 'unread'
            );
INSERT INTO books VALUES(1318,'Trading Price Action Trading Ranges -- Al Brooks -- 1, 2012 -- Wiley -- 867ec8fba1f6adade3fe332b9012bea9 -- AnnaÔÇÖs Archive','word','','Microsoft┬« Word 2016',NULL,'','','L:\LIVROS\Trading Price Action Trading Ranges -- Al Brooks -- 1, 2012 -- Wiley -- 867ec8fba1f6adade3fe332b9012bea9 -- AnnaÔÇÖs Archive.pdf','pdf',19497105,'22b7d60db7b919ca9833de30c7470b3cf8324c3c4d92ff9cacfa20a68d230cbb','G:\PROGRAMAS PYTHON\Biblioteca-pessoal\data\covers\cover_1318.jpg',628,'2026-05-31 18:50:24','2026-05-31T15:50:25.994227',0,0,'reading');
INSERT INTO books VALUES(1319,'Como ser um programador melhor','Pete Goodliffe','','calibre (5.39.1) [https://calibre-ebook.com]',NULL,'','','L:\LIVROS\Como ser um programador melhor -- Pete Goodliffe -- 2019 -- Novatec Editora -- 5327bcddd3a475004f8f38a05056a2c4 -- AnnaÔÇÖs Archive.pdf','pdf',7388377,'2d2ae923c824c2790847ebad233a875e33cf480a4616f4c0c2d88421e16a8f61','G:\PROGRAMAS PYTHON\Biblioteca-pessoal\data\covers\cover_1319.jpg',458,'2026-05-31 23:08:23','2026-05-31T20:08:24.017365',0,0,'reading');
CREATE TABLE reading_progress (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                book_id INTEGER NOT NULL UNIQUE,
                current_page INTEGER DEFAULT 0, total_pages INTEGER DEFAULT 0,
                percentage REAL DEFAULT 0.0, last_position TEXT DEFAULT '',
                last_read TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                time_spent_seconds INTEGER DEFAULT 0,
                FOREIGN KEY (book_id) REFERENCES books(id) ON DELETE CASCADE
            );
INSERT INTO reading_progress VALUES(1162,1318,20,628,3.1847133757961785249,'','2026-05-31 23:08:03',0);
INSERT INTO reading_progress VALUES(1186,1319,39,458,8.5152838427947603605,'','2026-05-31 23:23:10',0);
CREATE TABLE collections (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT UNIQUE NOT NULL, description TEXT DEFAULT '',
                icon TEXT DEFAULT '­ƒôü', color TEXT DEFAULT '#6366f1',
                created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
            );
INSERT INTO collections VALUES(1,'MATEM├üTICA','','­ƒôü','#6366f1','2026-05-09 22:19:57');
CREATE TABLE book_collections (
                book_id INTEGER NOT NULL, collection_id INTEGER NOT NULL,
                PRIMARY KEY (book_id, collection_id),
                FOREIGN KEY (book_id) REFERENCES books(id) ON DELETE CASCADE,
                FOREIGN KEY (collection_id) REFERENCES collections(id) ON DELETE CASCADE
            );
CREATE TABLE tags (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT UNIQUE NOT NULL, color TEXT DEFAULT '#8b5cf6'
            );
CREATE TABLE book_tags (
                book_id INTEGER NOT NULL, tag_id INTEGER NOT NULL,
                PRIMARY KEY (book_id, tag_id),
                FOREIGN KEY (book_id) REFERENCES books(id) ON DELETE CASCADE,
                FOREIGN KEY (tag_id) REFERENCES tags(id) ON DELETE CASCADE
            );
CREATE TABLE annotations (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                book_id INTEGER NOT NULL, page_number INTEGER DEFAULT 0,
                position_data TEXT DEFAULT '{}', content TEXT DEFAULT '',
                highlight_color TEXT DEFAULT '#fbbf24',
                annotation_type TEXT DEFAULT 'highlight',
                created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                FOREIGN KEY (book_id) REFERENCES books(id) ON DELETE CASCADE
            );
INSERT INTO annotations VALUES(1318,'indexed_ok',1773,'','2026-05-31 23:13:30','#fbbf24','highlight',NULL,NULL);
INSERT INTO annotations VALUES(1319,'indexed_ok',912,'','2026-05-31 23:15:51','#fbbf24','highlight',NULL,NULL);
INSERT INTO annotations VALUES(66,1315,10,'{"coords": [0.4841321551155263, 0.5993296524083336, 0.5464888658368832, 0.6174216119039095]}','Mileto era uma cidade grega rica e pr├│spera, talvez a principal cidade do mundo grego antes do s├®culo ├íureo de Atenas e Esparta. Era um centro comercial muito ativo e dominava uma rede de quase uma ce','#fbbf24','highlight','2026-05-24 03:24:40','2026-05-24 03:24:40');
/****** CORRUPTION ERROR *******/
PRAGMA writable_schema=ON;
INSERT INTO sqlite_schema(type,name,tbl_name,rootpage,sql)VALUES('table','books_fts','books_fts',0,'CREATE VIRTUAL TABLE books_fts USING fts5(
                    title, author, description, content=''books'',
                    content_rowid=''id'', tokenize=''unicode61'')');
CREATE TABLE IF NOT EXISTS 'books_fts_data'(id INTEGER PRIMARY KEY, block BLOB);
INSERT INTO books_fts_data VALUES(1,X'02130300');
INSERT INTO books_fts_data VALUES(10,X'000000000408a74100020a010103010100011601020002010103020104000305011406010807010e');
CREATE TABLE IF NOT EXISTS 'books_fts_idx'(segid, term, pgno, PRIMARY KEY(segid, term)) WITHOUT ROWID;
INSERT INTO books_fts_idx VALUES(1,X'',2);
INSERT INTO books_fts_idx VALUES(1,X'30696e73',4);
INSERT INTO books_fts_idx VALUES(1,X'307665',6);
CREATE TABLE IF NOT EXISTS 'books_fts_docsize'(id INTEGER PRIMARY KEY, sz BLOB);
INSERT INTO books_fts_docsize VALUES(1318,X'0e0100');
INSERT INTO books_fts_docsize VALUES(1319,X'050200');
CREATE TABLE IF NOT EXISTS 'books_fts_config'(k PRIMARY KEY, v) WITHOUT ROWID;
INSERT INTO books_fts_config VALUES('version',4);
CREATE TABLE ocr_pages (
                book_id INTEGER NOT NULL,
                page_number INTEGER NOT NULL,
                content TEXT DEFAULT '',
                created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                PRIMARY KEY (book_id, page_number),
                FOREIGN KEY (book_id) REFERENCES books(id) ON DELETE CASCADE
            );
CREATE TABLE indexing_state (
                book_id INTEGER PRIMARY KEY,
                status TEXT NOT NULL DEFAULT 'pending',
                chunks_indexed INTEGER DEFAULT 0,
                error_message TEXT DEFAULT '',
                updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                FOREIGN KEY (book_id) REFERENCES books(id) ON DELETE CASCADE
            );
INSERT INTO indexing_state VALUES(1318,'indexed_ok',1773,'','2026-05-31 23:13:30');
INSERT INTO indexing_state VALUES(1319,'indexed_ok',912,'','2026-05-31 23:15:51');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('books',1319);
INSERT INTO sqlite_sequence VALUES('reading_progress',1230);
INSERT INTO sqlite_sequence VALUES('annotations',54);
CREATE INDEX idx_books_title ON books(title);
CREATE INDEX idx_books_author ON books(author);
CREATE INDEX idx_books_format ON books(file_format);
CREATE INDEX idx_books_status ON books(read_status);
CREATE INDEX idx_books_hash ON books(file_hash);
CREATE INDEX idx_annotations_book ON annotations(book_id);
CREATE TRIGGER books_ai AFTER INSERT ON books BEGIN
                INSERT INTO books_fts(rowid, title, author, description)
                VALUES (new.id, new.title, new.author, new.description); END;
CREATE TRIGGER books_ad AFTER DELETE ON books BEGIN
                INSERT INTO books_fts(books_fts, rowid, title, author, description)
                VALUES ('delete', old.id, old.title, old.author, old.description); END;
CREATE TRIGGER books_au AFTER UPDATE ON books BEGIN
                INSERT INTO books_fts(books_fts, rowid, title, author, description)
                VALUES ('delete', old.id, old.title, old.author, old.description);
                INSERT INTO books_fts(rowid, title, author, description)
                VALUES (new.id, new.title, new.author, new.description); END;
CREATE INDEX idx_indexing_status ON indexing_state(status);
PRAGMA writable_schema=OFF;
ROLLBACK; -- due to errors
